<%= form_for(@staffing, html: { class: "form-horizontal" }) do |f| %>
  <% if @staffing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staffing.errors.count, "error") %> prohibited this staffing from being saved:</h2>

      <ul>
      <% @staffing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, "First Name:", class: "control-label col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "Last Name:", class: "control-label col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :middle_name, "Middle Name:", class: "control-label col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :middle_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost_per_hour, "Cost per Hour:", class: "control-label col-sm-3" %>
    <div class="col-sm-6">
      <%= f.number_field :cost_per_hour, class: "form-control" %>
    </div>
  </div>
  <div class="actions col-sm-offset-3 col-sm-6">
    <%= f.submit class: "btn btn-md btn-primary" %>
  </div>
<% end %>
